//  header
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    .logo {
        width: 25%;
        margin: auto 20px;
    }
    background-color: rgba(18, 40, 83, 0.76);
    display: flex;
    .menu-header_menu-container {
        width: 100%;
        .menu {
            display: flex;
            justify-content: space-around;
            li {
                padding: 20px 5px;
                position: relative;
                display: inline-block;
                a:hover {
                    padding: 20px 0;
                    text-decoration: none;
                    background-color: transparent;
                    border-top: 3px solid #fff618;
                    color:#fff618;
                }
                & ul {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 240px;
                    background-color: rgba(18, 40, 83, 0.76);
                    border-left: 4px solid #fff618;
                    & li {
                        a:hover {
                            border: none;
                        }
                    }
                }
                a {
                color: white;
                    i {
                        &:hover {
                            border: none;
                        }
                        
                    }
                } 
            }
        }
    }
}
.menu-item i._mi, .menu-item img._mi {
    display: inherit;
}