.mainBlock {
		&__img {
            position: relative;
            background: linear-gradient(to right, rgba(68, 68, 68, 0.98) 70%, #161717 100%);
            h3 {
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                bottom: 5%;
                color: #f2b930;
                font-size: 45px;
                font-weight: 500;
            }
        }

		&__points {
            background: linear-gradient(to right, rgba(68, 68, 68, 0.98) 70%, rgb(22, 23, 23) 100%);
            padding: 30px 0;
            color: white;
            font-size: 18px;
            display: flex;
            &-two {
                background: #e4ffef;
                color: black;
                .center {
                    .section-two {
                        .section__text {
                            text-align: start;
                            .title {
                                a {
                                    color: black;
                                }
                                a:hover {
                                    text-decoration: underline;
                                }
                            }
                            .text {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            &-about {
                .center {
                    flex-wrap: wrap;
                    .section {
                        width: 33%;
                        padding: 20px 0;
                    }
                }
            }
            
            .center {
                display: flex;
                justify-content: space-around;
                width: 1170px;
                text-align: center;
                margin: 0 auto;
                .section {
                display: flex;
                &-two {
                    width: 25%;
                    .section__icon {
                        border: 1px solid #0eb493;
                        padding: 25px;
                        border-radius: 50%;
                        color: #0eb493;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .section__text {
                        padding: 0 15px;
                    }
                }
                &__icon {
                    border: 1px solid white;
                    padding: 10px;
                    border-radius: 10%;
                    
                    &-red {
                        background: rgba(221, 2, 2, 0.986);
                    }
                    &-yellow {
                        background: rgb(190, 202, 19);
                    }
                    &-blue {
                        background: rgb(76, 0, 255);
                    }
                    &-green {
                        background: rgb(59, 168, 9);
                    }
                    &-purple {
                        background: rgb(207, 14, 175);
                    }
                    &-turq {
                        background: rgb(4, 183, 189);
                    }
                }
                
                

                &__title {
                    margin: auto 10px;
                    a {
                        color: white;
                        &:hover {
                            color:  #0eb493;
                            transition: all .3s ease-in 0s;
                        }
                    }
                }
            }
            }
            
        }
        &__news {
            color: #626669;
            background: rgb(229, 227, 223);
            display: flex;
            .center {
                width: 1170px;
                text-align: center;
                margin: 0 auto;
                .title {
                    color: #0eb493;
                    font-size: 30px;
                    padding: 10px 0;
                }
                .title:hover {
                    text-decoration: underline;
                }
                .delimiter {
                    .fas {
                        font-size: 30px;
                        padding: 10px;
                    }
                }
                .delimiter::before, .delimiter::after {
                    content: "____________________";
                    position: relative;
                    bottom: 10px;
                }
                .text {
                    font-size: 17px;
                    font-weight: 400;
                    padding: 10px 0;
                }
                .news__items {
                    display: flex;
                    justify-content: space-between;
                    .item {
                        width: 23%;
                        &__img {
                            height: 50%;
                        }
                        &__title {
                            color:#0eb493;
                            font-weight: 400;
                            font-size: 18px;
                            padding: 10px 0;
                            text-align: start;
                            a:hover {
                                color: #0eb493;
                                text-decoration: underline;
                            }
                            a{
                                color: #0eb493;
                            }
                        }
                        &__text {
                            text-align: start;
                            padding-left: 10px;
                            border-left: 1px solid #626669;
                        }
                    }
                }
            }
        }
        &__facts {
            background-image: url(../img/building.webp);
            background-color: rgba(6,32,51,.8);
            background-attachment: fixed !important;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            display: flex;
            .facts {
                background-color: rgba(6,32,51,.8);
                display: flex;
                width: 100%;
                .center {
                    .factsBlock {
                        display: flex;
                        justify-content: space-evenly;
                        padding-top: 15px;
                        font-size: 40px;
                        &__item {
                            margin: 0 10px;
                        }
                    }
                }

            } 
        }
        &__director {
            display: flex;
            background: rgb(229, 227, 223);
            .center {
                width: 1170px;
                margin: 0 auto;
                text-align: center;
                display: flex;
                padding: 20px;
                .directorImg {
                    width: 25%;
                    margin: 0 40px;
                    img {
                        border-radius: 50%;
                    }
                }
                .directorText {
                    text-align: left;      
                    padding-left: 20px;
                    &__name {
                        color: #09735e;
                        font-size: 28px;
                        font-weight: 800;
                        text-transform: uppercase;
                        padding-bottom: 10px;
                    }
                    &__about {
                    }
                }
            }
        }
}

    .feedback {
        position: fixed;
        bottom: 40px;
        right: 40px;
        background: #0eb493;
        border: 3px solid white;
        color: white;
        padding: 25px;
        border-radius: 50%;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        animation: radial-pulse 1s infinite;
        outline: none;
        &:hover{
            background-color: #317769;
        }
    }
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgb(255, 255, 255);
  }
 
  100% {
    box-shadow: 0 0 0 40px rgba(156, 152, 152, 0);
  }
}




@media screen {

    .mainBlock {
        @media (max-width: 1300px) {}
        .mainBlock__img {
        @media (max-width: 768px) {
            }
            h3 {
               @media (max-width: 768px) {
                   font-size: 30px;
               } 
               @media (max-width: 425px) {
                   font-size: 20px;
               } 
            }
        }
        .mainBlock__points {
        @media (max-width: 1300px) {
            padding: 20px 10px;
            }
        @media (max-width: 1080px) {
            font-size: 14px;
            }
            .center .section-two .section__text .title {
            @media (max-width: 1080px) {
                font-size: 14px;
                }
            }
            .center .section-two .section__text .text {
            @media (max-width: 1080px) {
                font-size: 10px;
                }
            }
            .center .section-two .section__icon {
            @media (max-width: 1080px) {
                padding: 20px;
                width: 20px;
                height: 20px;
                }
            }
            .center {
              @media (max-width: 768px) {
                flex-wrap: wrap;
                }  
              @media (max-width: 425px) {
                flex-direction:column;
                }  
                .section {
                    @media (max-width: 768px) {             
                    width: 45%;
                    margin: 5px;
                    } 
                    @media (max-width: 425px) {             
                    width: 100%;
                    } 
                }
            }
        }
        .mainBlock__points-two .center {
        @media (max-width: 1080px) {
            font-size: 16px;
            }
        @media (max-width: 768px) {
            flex-direction: column;
            }
            .section{
            @media (max-width: 768px) {
                width: 100%;
                margin: 5px 0;
                }
            }
        }

        .mainBlock__points-about .center {
        @media (max-width: 1080px) {
            }
            .section{
            @media (max-width: 1080px) {
                width: 47%;
                }
            @media (max-width: 425px) {
                width: 100%;
                padding: 5px 0;
                }
            }
        }

        .mainBlock__news .center {
        @media (max-width: 1080px) {
            // font-size: 23px;
            }
            .delimiter {
                @media (max-width: 768px) {
                display: none;
                }
            }
            .news__items {
            @media (max-width: 1300px) {
                justify-content: space-evenly;
                }
            }
            .news__items {
            @media (max-width: 1080px) {
                }
            @media (max-width: 1080px) {
                flex-wrap: wrap;
                }
                .item {
                @media (max-width: 1080px) {
                    width: 35%;
                    }
                @media (max-width: 768px) {
                    width: 90%;
                    padding: 20px;
                    height: 100%;
                    }
                    .item__img {
                    @media (max-width: 768px) {
                        width: 65%;
                        margin: 0 auto;
                        }
                    @media (max-width: 500px) {
                        height: 60%;
                        }
                    @media (max-width: 425px) {
                        height: 50%;
                        }
                    }
                    .item__title {
                    @media (max-width: 1080px) {
                        font-size: 20px;
                        }
                    }
                    .item__title {
                    @media (max-width: 1080px) {
                        font-size: 16px;
                        }
                    }
                }
            }
            .title {
            @media (max-width: 1080px) {
                font-size: 20px;
                }
            }
            .delimiter {
            @media (max-width: 1080px) {
                font-size: 13px;
                }
            }
            .text {
            @media (max-width: 768px) {
                font-size: 14px;
                }
            }
        }

        .mainBlock__facts .facts .center .factsBlock {
        @media (max-width: 1080px) {
            font-size: 25px;
            }
        @media (max-width: 768px) {
            font-size: 17px;
            flex-wrap: wrap;
            }
            .factsBlock__item {
                @media (max-width: 768px) {
                width: 40%;
                }
            }
        }
        
        .mainBlock__director {

            .center {
                @media (max-width: 425px) {
                flex-direction: column;
                }
                .directorImg{
                    @media (max-width: 768px) {
                    margin: 0;
                    display: inline-table;
                    }
                    @media (max-width: 425px) {
                    margin: 2px auto;
                    }
                }
                .directorText{
                    @media (max-width: 1080px) {
                    width: 100%;
                    }
                    @media (max-width: 768px) {
                    font-size: 12px;
                    }
                    @media (max-width: 425px) {
                    text-align: center;
                    }
                    .directorText__name {
                        @media (max-width: 1080px) {
                            font-size: 23px;
                        }
                        @media (max-width: 768px) {
                            font-size: 16px;
                        }
                        @media (max-width: 425px) {
                            font-size: 13px;
                        }
                    } 
                }
            }
        } 
    }
}