* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  min-width: 370px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

a:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(18, 40, 83, 0.76);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logo {
  width: 25%;
  margin: auto 20px;
}

.header .menu-header_menu-container {
  width: 100%;
}

.header .menu-header_menu-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .menu-header_menu-container .menu li {
  padding: 20px 5px;
  position: relative;
  display: inline-block;
}

.header .menu-header_menu-container .menu li a:hover {
  padding: 20px 0;
  text-decoration: none;
  background-color: transparent;
  border-top: 3px solid #fff618;
  color: #fff618;
}

.header .menu-header_menu-container .menu li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 240px;
  background-color: rgba(18, 40, 83, 0.76);
  border-left: 4px solid #fff618;
}

.header .menu-header_menu-container .menu li ul li a:hover {
  border: none;
}

.header .menu-header_menu-container .menu li a {
  color: white;
}

.header .menu-header_menu-container .menu li a i:hover {
  border: none;
}

.menu-item i._mi, .menu-item img._mi {
  display: inherit;
}

.mainBlock {
  top: 21px;
  position: relative;
}

.mainBlock__img {
  position: relative;
  top: 5px;
}

.mainBlock__img h3 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 20%;
  color: #f2b930;
  font-size: 45px;
  font-weight: 500;
}

.mainBlock__points {
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, rgba(68, 68, 68, 0.98)), to(#161717));
  background: linear-gradient(to right, rgba(68, 68, 68, 0.98) 70%, #161717 100%);
  padding: 30px 0;
  color: white;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainBlock__points-two {
  background: #e4ffef;
  color: black;
}

.mainBlock__points-two .center .section-two .section__text {
  text-align: start;
}

.mainBlock__points-two .center .section-two .section__text .title a {
  color: black;
}

.mainBlock__points-two .center .section-two .section__text .title a:hover {
  text-decoration: underline;
}

.mainBlock__points-two .center .section-two .section__text .text {
  font-size: 14px;
}

.mainBlock__points-about .center {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainBlock__points-about .center .section {
  width: 33%;
  padding: 20px;
}

.mainBlock__points .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1170px;
  text-align: center;
  margin: 0 auto;
}

.mainBlock__points .center .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainBlock__points .center .section-two {
  width: 25%;
}

.mainBlock__points .center .section-two .section__icon {
  border: 1px solid #0eb493;
  padding: 25px;
  border-radius: 50%;
  color: #0eb493;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainBlock__points .center .section-two .section__text {
  padding: 0 15px;
}

.mainBlock__points .center .section__icon {
  border: 1px solid white;
  padding: 10px;
  border-radius: 10%;
}

.mainBlock__points .center .section__icon-red {
  background: rgba(221, 2, 2, 0.986);
}

.mainBlock__points .center .section__icon-yellow {
  background: #beca13;
}

.mainBlock__points .center .section__icon-blue {
  background: #4c00ff;
}

.mainBlock__points .center .section__icon-green {
  background: #3ba809;
}

.mainBlock__points .center .section__icon-purple {
  background: #cf0eaf;
}

.mainBlock__points .center .section__icon-turq {
  background: #04b7bd;
}

.mainBlock__points .center .section__title {
  margin: auto 10px;
}

.mainBlock__points .center .section__title a {
  color: white;
}

.mainBlock__points .center .section__title a:hover {
  color: #0eb493;
  -webkit-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s;
}

.mainBlock__news {
  color: #a0a6ab;
  background: #e5e3df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainBlock__news .center {
  width: 1170px;
  text-align: center;
  margin: 0 auto;
}

.mainBlock__news .center .title {
  color: #0eb493;
  font-size: 30px;
  padding: 10px 0;
}

.mainBlock__news .center .delimiter .fas {
  font-size: 30px;
  padding: 10px;
}

.mainBlock__news .center .delimiter::before, .mainBlock__news .center .delimiter::after {
  content: "____________________";
  position: relative;
  bottom: 10px;
}

.mainBlock__news .center .text {
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0;
}

.mainBlock__news .center .news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainBlock__news .center .news__items .item {
  width: 23%;
}

.mainBlock__news .center .news__items .item__img {
  height: 50%;
}

.mainBlock__news .center .news__items .item__title {
  color: #0eb493;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 0;
  text-align: start;
}

.mainBlock__news .center .news__items .item__text {
  text-align: start;
  padding-left: 10px;
  border-left: 1px solid #a0a6ab;
}

.mainBlock__facts {
  background-image: url(../img/building.webp);
  background-color: rgba(6, 32, 51, 0.8);
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainBlock__facts .facts {
  background-color: rgba(6, 32, 51, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mainBlock__facts .facts .center .factsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 15px;
  font-size: 40px;
}

.mainBlock__director {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e5e3df;
  padding: 20px 0;
}

.mainBlock__director .center {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.mainBlock__director .center .directorImg {
  width: 25%;
  margin: 0 40px;
}

.mainBlock__director .center .directorImg img {
  border-radius: 50%;
}

.mainBlock__director .center .directorText {
  text-align: left;
  padding-left: 20px;
}

.mainBlock__director .center .directorText__name {
  color: #0eb493;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.footerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0eb493;
}

.footerBlock .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 1170px;
  padding: 30px;
  font-size: 14px;
  padding-left: 0;
}

.footerBlock .footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.footerBlock .footer__section-links {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerBlock .footer__section .points {
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
}

.footerBlock .footer__section .points .menu-item a {
  color: white;
}

.footerBlock .footer__section .points .menu-item a:hover {
  text-decoration: underline;
}

.footerBlock .footer__section .officialPage {
  width: 25%;
}

.footerBlock .footer__section .officialPage__item {
  text-transform: inherit;
  text-align: left;
  font-weight: 400;
}

.footerBlock .footer__section .officialPage__item a {
  color: white;
  text-transform: inherit;
}

.footerBlock .footer__section .officialPage__item a:hover {
  text-decoration: underline;
}

.container {
  top: 28px;
  position: relative;
  background: url(../img/bg-news.svg);
}

.container .titleBlock {
  text-align: center;
  background-color: #f1f1f1;
  color: #727070;
  font-size: 25px;
}

.container .mainBlock-news {
  top: 0;
  width: 1170px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .mainBlock-news .mainBlock__news {
  background: none;
  width: 45%;
  border: 1px solid #b4cfca;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #d4eae6), to(#9dc7c09e));
  background: linear-gradient(to right, #d4eae6 70%, #9dc7c09e 100%);
  color: #1f201f;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 7px 3px rgba(204, 196, 204, 0.55);
          box-shadow: 0px 0px 7px 3px rgba(204, 196, 204, 0.55);
}

.container .mainBlock-news .mainBlock__news .newsImg {
  width: 45%;
}

.container .mainBlock-news .mainBlock__news .newsText {
  border-left: 1px solid #6b8681;
  margin-left: 15px;
  padding-left: 20px;
  width: 100%;
}

.container .mainBlock-news .mainBlock__news .newsText__title {
  font-weight: 600;
  font-size: 16px;
}

.container .mainBlock-news .mainBlock__news .newsText__date {
  font-size: 13px;
  color: #928978;
  margin: 2px 0px;
}

.container .mainBlock-news .mainBlock__news .newsText__text {
  line-height: 1.42857143;
  font-size: 13px;
}

.container .center {
  width: 1170px;
  margin: 20px auto 70px;
  background: white;
}

.container .center .headerBlock {
  margin-top: 0;
}

.container .center .headerBlock__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .center .headerBlock__page h4 {
  padding: 10px 0px 10px 9px;
  margin: 10px 0;
  background: #ff6600;
  width: 70px;
  color: white;
  border-radius: 5% 0 0 5%;
}

.container .center .headerBlock__page span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .center .headerBlock__page span .fas {
  font-size: 40px;
  margin: auto 0;
  position: relative;
  left: -3px;
  color: #ff6600;
}

.container .center .headerBlock__title {
  font-size: 30px;
}

.container .center .headerBlock__date {
  padding: 10px 0;
  border-bottom: 1px solid #cecece;
  color: #ada9a9;
}

.container .center .mainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .center .mainBlock .content {
  width: 100%;
}

.container .center .mainBlock .content__img {
  padding-bottom: 10px;
}

.container .center .mainBlock .content__text {
  font-size: 18px;
  margin-left: 15px;
}

.container .center .mainBlock .content__text .list {
  padding-left: 20px;
}

.container .center .mainBlock .content__text li {
  list-style-type: disc;
}

.container .center .mainBlock .content__text p {
  padding: 10px;
}

.container .center .mainBlock .news {
  width: 50%;
  padding: 15px;
  margin: 0 20px;
  border: 1px solid #ddd;
  background: #e9eaed;
  text-align: center;
  height: 100%;
}

.container .center .mainBlock .news__title {
  text-align: center;
}

.container .center .mainBlock .news__button {
  padding: 10px;
  font-weight: 600;
  color: white;
  background: #ff6600;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid white;
}

.container .center .mainBlock .news__button:hover {
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
}

.container .center .mainBlock .news__item .mainBlock__news {
  background: none;
  padding: 10px 0;
  border-bottom: 1px solid #cecece;
}

.container .center .mainBlock .news__item .newsImg {
  width: 25%;
  height: 80px;
}

.container .center .mainBlock .news__item .newsText {
  padding-left: 20px;
  font-size: 16px;
  width: 70%;
}

.container .center .mainBlock .news__item .newsText__title {
  text-align: start;
}

.container .center .mainBlock .news__item .newsText__title a {
  color: #337ab7;
}

.container .center .mainBlock .news__item .newsText__date {
  text-align: start;
}
/*# sourceMappingURL=style.css.map */